<div class="analyze" ng-controller="Analyze.MainController">
    <div class="umb-listview">
        <h3>Analyze</h3>
        <div class="pie clearfix">
            <canvas id="myChart" width="300" height="300"></canvas>
            <div class="legend">
                <ul>
                    <li><span class="color published"></span><span class="title">Published</span> <span>{{publishedPercent}} %</span></li>
                    <li><span class="color unpublished"></span><span class="title">Unpublished</span> <span>{{unpublishedPercent}} %</span></li>
                    <li><span class="color trashed"></span><span class="title">Trashed</span> <span>{{trashedPercent}} %</span></li>
                </ul>
            </div>
        </div>

        <section>
            <header class="clearfix">
                <h4>Published items</h4>
                <span>{{publishedNodes.length}} items</span>
            </header>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>
                            Created at
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in publishedNodes">
                        <td>{{node.name}}</td>
                        <td>{{node.createDate}}</td>
                        <td><a class="btn btn-success" href="/umbraco/#/content/content/edit/{{node.Id}}">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <header class="clearfix">
                <h4>Unpublished items</h4>
                <span>{{unpublishedNodes.length}} items</span>
            </header>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>
                            Created at
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in unpublishedNodes">
                        <td>{{node.name}}</td>
                        <td>{{node.createDate}}</td>
                        <td><a class="btn btn-success" href="/umbraco/#/content/content/edit/{{node.Id}}">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <header class="clearfix">
                <h4>Trashed items</h4>
                <span>{{trashedNodes.length}} items</span>
            </header>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>
                            Created at
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in trashedNodes">
                        <td>{{node.name}}</td>
                        <td>{{node.createDate}}</td>
                        <td><a class="btn btn-success" href="/umbraco/#/content/content/edit/{{node.Id}}">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>  